*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.App{
  text-align: center;
  
  
}
body{
  background-color: gray;
}

.slotmachine{
  background-color: whitesmoke;
  border: 2px solid black;
  margin: 4rem 6rem 4rem 6rem;
 
}


.header{
  background-color: #fff;
  padding: 20px;
  margin-bottom: 50px;
}

h2{
  font-family: 'Courier New', Courier, monospace;
  margin: 10px;
}