*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.App{
  text-align: center;
  
  
}
body{
  background-color: gray;
}

.slotmachine{
  background-color: whitesmoke;
  border: 1px ;
  margin: 4rem 6rem 4rem 6rem;
 
}

.slotmachine{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}


.header{
  background-color: #fff;
  padding: 20px;
  margin-bottom: 50px;
}

h2{
  font-family: 'Courier New', Courier, monospace;
  margin: 10px;
}